.payment-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
}

.payment-content {
        width: 400px;
        text-align: center;
        position: relative;
}

.payment-content .payment-gif {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.payment-form {
        margin-bottom: 20px;
}


.payment-info-form input {
        width: 100%;
}

.payment-bottom {
        text-align: center;
}
